@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gradient-bg{
  @apply bg-gradient-to-b from-gray-800 via-cyan-900 to-cyan-950
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: IranSans;
  src: url(../public/fonts/Iransans.ttf);
}

@font-face {
  font-family: IranSansBold;
  src: url(../public/fonts/Iransans-Bold.ttf);
}

.dir-right {
  direction: rtl;
}
