@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.btn-style {
  @apply border-2 rounded-xl py-1 px-5  hover:bg-gray-300 hover:text-slate-900 ease-in duration-300 cursor-pointer;
}

.gradient-bg {
  @apply bg-gradient-to-b from-gray-800 via-cyan-900 to-cyan-950;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: IranSans;
  src: url(../public/fonts/Iransans.ttf);
}

@font-face {
  font-family: IranSansBold;
  src: url(../public/fonts/Iransans-Bold.ttf);
}

.dir-right {
  direction: rtl;
}

.bg-table {
  background-color: #092635;
}

.border-pagination {
  border-color: #092635;
}

/* CreateUser.css */

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: scale(1);
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.overlay-enter {
  opacity: 0;
}

.overlay-enter-active {
  opacity: 0.25;
  transition: opacity 300ms;
}

.overlay-exit {
  opacity: 0.25;
}

.overlay-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
